*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--black-00-color);
}
/* variables */
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Inter", sans-serif;

  --blue-color: #2c4bff;
  --light-blue-color: #d5dbff;
  --deep-blue-color: #1a2e9a;
  --white-fff-color: #fff;
  --black-00-color: #000;
  --grey-f20-colour: #231f20;
  --dark-pink-color: #e97284;
}

/* utilitis */
.text-white {
  color: var(--whiteF);
}
.container {
  max-width: 1208px;
  margin: 0 auto;
  padding: 0px 5px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
/* buttons */

.btn {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 113%;
  background-color: red;
}
.btn-Primary {
  color: var(--white-fff-color);
  background-color: var(--blue-color);
  border: none;
}
.btn-secondary {
  color: var(--blue-color);
  background-color: var(--white-fff-color);
  border: 1px solid var(--blue-color);
}
.btn-Tertiary {
  color: var(--white-fff-color);
  background-color: var(--dark-pink-color);
  border: none;
}

.btn-xl {
  text-align: center;
  width: 480px;
}
.btn-pill {
  border-radius: 50px;
  text-decoration: none;
}
.case-study-pill .btn-pill {
  padding: 6px 12px;
}

/* global nav area */
.header-offset {
  height: 120px;
}
.main-header-nav-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0px;
  position: fixed;
  background-color: var(--white-fff-color);
  width: 1208px;
  z-index: 11;
}
.main-nav-area ul {
  display: flex;
  gap: 48px;
}
.main-nav-area ul a {
  font-weight: 500;
  font-size: 18px;
  line-height: 115%;
}
.main-nav-button-area {
  display: flex;
  gap: 16px;
}

/* Home page CSS */

/* hero area */

.home-hero-area {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}
.home-hero-header-with-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 39%;
}
.home-hero-header-with-buttons .hero-header h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.02em;
}
.home-hero-header-with-buttons .hero-discription p {
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  margin: 25px 0 65px 0;
}
.home-hero-button-area {
  display: flex;
  gap: 24px;
}
.hero-image-area embed {
  width: 100%;
}
.home-logo-area {
  display: flex;
  gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
}
.home-logo-area .logo-icon-area {
  display: flex;
  gap: 48px;
}

/* home page logo section area */
.logo-area-header p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

/* home workflow area */

.workflow-graphic-header-and-graph-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-workflow-header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 150px;
}
.home-workflow-details p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 24px 0px 106px 0px;
}
.home-workflow-graph {
  display: flex;
  gap: 39px;
  margin-bottom: 160px;
}
/* .home-workflow-graph > .home-workflow-step {
  position: relative;
} */
.home-workflow-step-1,
.home-workflow-step-2,
.home-workflow-step-3,
.home-workflow-step-4,
.home-workflow-step-5 {
  position: relative;
}
.home-workflow-step-1 .design-process-arrow,
.home-workflow-step-2 .design-process-arrow,
.home-workflow-step-3 .design-process-arrow,
.home-workflow-step-4 .design-process-arrow,
.home-workflow-step-5 .design-process-arrow,
.home-workflow-step-5 .design-process-arrow-last {
  position: absolute;
  z-index: 10;
}
.home-workflow-step-1 .design-process-arrow {
  bottom: -85px;
  right: 77px;
}
.home-workflow-step-2 .design-process-arrow {
  bottom: 175px;
  right: 145px;
}
.home-workflow-step-3 .design-process-arrow {
  bottom: -35px;
  right: 145px;
}
.home-workflow-step-4 .design-process-arrow {
  bottom: 175px;
  right: 145px;
}
.home-workflow-step-5 .design-process-arrow {
  bottom: -35px;
  right: 145px;
}
.home-workflow-step-5 .design-process-arrow-last {
  bottom: 50px;
  right: -250px;
  /* rotate: 30deg; */
}

/* home case study area */

.home-case-study-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-case-study-area .case-study-header h1 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  width: 70%;
}
.home-case-study-area .case-study-details p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  margin: 24px 0 70px;
}
.case-study-card p {
  color: var(--white-fff-color);
}
.case-study-article-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 31px;
  margin-bottom: 56px;
}
.case-study-card-inner-1,
.case-study-card-inner-2,
.case-study-card-inner-3,
.case-study-card-inner-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 539px;
  height: 664px;
  padding: 32px;
}

.case-study-card-inner-1 {
  background-image: linear-gradient(to bottom, #f5f6fc1a 41.34%, #090f35 100%),
    url("../img/home-case-study-01.jpg");
}
.case-study-card-inner-2 {
  background-image: linear-gradient(to bottom, #f5f6fc1a 41.34%, #090f35 100%),
    url("../img/home-case-study-02.jpg");
}
.case-study-card-inner-3 {
  background-image: linear-gradient(to bottom, #f5f6fc1a 41.34%, #090f35 100%),
    url("../img/home-case-study-03.jpg");
}
.case-study-card-inner-4 {
  background-image: linear-gradient(to bottom, #f5f6fc1a 41.34%, #090f35 100%),
    url("../img/home-case-study-04.jpg");
}
.case-study-pill {
  position: absolute;
  top: 32px;
  left: 32px;
}

/* testimonial area */

.testimonial-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 80px;
}
.testimonial-header h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.02em;
}
.testimonial-details p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 30px 0 60px;
}
.testimonial-card {
  display: flex;
  gap: 88px;
}
.testimonial-card-details {
  max-width: 50%;
}
.testimonial-card-details h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 131%;
  margin: 32px auto;
}
.testimonial-person-details {
  display: flex;
  gap: 10px;
}
.testimonial-person-details .person-name p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.01em;
  color: var(--blue-color);
}
.testimonial-person-details .person-position p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--grey-f20-colour);
}

/* newsletter area */

.newsletter-area {
  display: flex;
  gap: 35px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 64px 180px;
  width: 100%;
  background-color: var(--blue-color);
}

.newsletter-area .newsletter-header h1 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-fff-color);
}
.newsletter-area .newsletter-details p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: var(--white-fff-color);
}
.newsletter-form .newsletter-signup-form {
  border-radius: 4px;
  padding: 16px 32px;
  width: 373px;
  height: 45px;
  border: none;
}

/* footer area start */

.main-footer-area {
  margin: 70px 0 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.company-details-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-details-area p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #000;
  margin: 40px 0;
}
.footer-social-logo-area {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footer-link-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-link-col .col-header p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--blue-color);
  margin-bottom: 30px;
}
.footer-link-col .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-link-col .footer-links ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #000;
}

/* footer copyright are */

.copyright-footer-area {
  text-align: center;
  padding: 40px 0;
}
/* dummy div */
.dummy-for-work {
  height: 100vh;
}

/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */
/* Service page CSS */

/* service page hero area */

.service-hero-area {
  display: flex;
  gap: 235px;
}
.service-hero-header-with-buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 37%;
}
.service-hero-header-with-buttons .service-hero-header h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 1px;
  text-align: left;
}
.service-hero-header-with-buttons .service-hero-details p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.service-hero-button-area {
  display: flex;
  gap: 25px;
}

/* service page service with image area */

.service-with-images-area {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.service-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-section .service-details {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 34%;
}
.service-section .service-details .service-header h3 {
  font-size: 39.06px;
  font-weight: 700;
  line-height: 58.65px;
  letter-spacing: 1px;
  text-align: left;
}
.service-section .service-details .service-detail p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.service-image {
  width: 50%;
}
.service-image embed {
  width: 80%;
}

.service-section:nth-child(even) .service-details {
  order: 1;
}

/* solution card area */
/* solution card area */

.our-solution-area {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.our-solution-area .our-solution-area-header h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 1px;
  text-align: center;
}
.our-solution-area .our-solution-area-details p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.our-solution-card-area {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 25px 0px 100px;
}
.our-solution-card {
  padding: 25px;
  border-radius: 24px;
  border: 1px solid #2c4bff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.our-solution-card .solution-card-name p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 1px;
  text-align: left;
  color: #2843e6;
}
.our-solution-card .solution-card-details p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9a9a9a;
}
.our-solution-card .solution-card-price {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 50px;
}

/* service page end */

/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */
/* blog page start */

/* blog hero area */

.blog-hero-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-hero-header-area {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 40%;
}
.blog-hero-header-area .blog-hero-header h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 1px;
  text-align: left;
}
.blog-hero-header-area .blog-hero-details p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

/* fixed static blog area start */

.fixed-static-blog-area {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.half-screen-static-blog:first-child .static-big-single-blog {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-cover-image
  embed {
  width: 100%;
  cursor: pointer;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-writer-with-date {
  display: flex;
  gap: 5px;
  font-family: Poppins;
  font-size: 12.7px;
  font-weight: 600;
  line-height: 18.14px;
  text-align: left;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-writer-with-date
  p {
  color: #6941c6;
}

.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-header-with-arrow {
  display: flex;
  justify-content: space-between;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-header-with-arrow
  .static-blog-header {
  font-family: Poppins;
  font-size: 21.77px;
  font-weight: 600;
  line-height: 29.03px;
  text-align: left;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-preview-details
  p {
  font-family: Roboto;
  font-size: 14 400;
  line-height: 21.77px;
  text-align: left;
  color: #667085;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag-area {
  display: flex;
  gap: 8px;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag {
  margin: 60px 0px;
  border-radius: 15px;
  padding: 1px 9px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(1) {
  width: 60px;
  background: #6941c617;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(1)
  p {
  color: #6941c6;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(2) {
  width: 70px;
  background: #3538cd18;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(2)
  p {
  color: #3538cd;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(3) {
  width: 90px;
  background: #fdf2fa;
}
.half-screen-static-blog:first-child
  .static-big-single-blog
  .static-blog-details
  .static-blog-tag:nth-child(3)
  p {
  color: #c11574;
}

/* second half static blog area */

.half-screen-static-blog:last-child {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-cover-image {
  cursor: pointer;
}

.half-screen-static-blog:last-child .static-small-single-blog {
  display: flex;
  gap: 30px;
}

.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-writer-with-date {
  display: flex;
  gap: 5px;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-writer-with-date
  p {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #6941c6;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-header
  h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-preview-details
  p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area {
  display: flex;
  gap: 10px;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag {
  margin: 30px 0px;
  border-radius: 15px;
  padding: 1px 9px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(1) {
  width: 70px;
  background: #3538cd18;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(1)
  p {
  color: #026aa2;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(2) {
  width: 70px;
  background: #c1157413;
}
.half-screen-static-blog:last-child
  .static-small-single-blog
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(2)
  p {
  color: #c11574;
}
.half-screen-static-blog:last-child
  .static-small-single-blog:last-child
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(1) {
  width: 70px;
  background: #027a481f;
}
.half-screen-static-blog:last-child
  .static-small-single-blog:last-child
  .static-blog-details
  .static-blog-tag-area
  .static-blog-tag:nth-child(1)
  p {
  color: #027a48;
}

/* fixed static blog area end */

/* all blog pagination area */

.all-blog-pagination-area {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.all-blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 135px 30px;
}

.all-blog-container .single-dynamic-blog .dynamic-blog-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-cover-image embed {
  width: 100%;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-writer-with-date {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  gap: 5px;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-writer-with-date p {
  color: #6941c6;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-header-with-arrow {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  justify-content: space-between;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-preview-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #667085;
  width: 83%;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area {
  display: flex;
  gap: 10px;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .blog-tag {
  margin: 30px 0px;
  border-radius: 15px;
  padding: 1px 9px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .design {
  width: 70px;
  background: #6941c625;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .design p {
  color: #6941c6;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .research {
  width: 70px;
  background: #3538cd2d;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .research p {
  color: #3538cd;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .product {
  width: 70px;
  background: #026aa227;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .product p {
  color: #026aa2;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .frameworks {
  width: 100px;
  background: #c4320a1e;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .frameworks p {
  color: #c4320a;
  cursor: pointer;
}
.all-blog-container
  .single-dynamic-blog
  .dynamic-blog-tag-area
  .software-development {
  width: 170px;
  background: #027a4821;
  cursor: pointer;
}
.all-blog-container
  .single-dynamic-blog
  .dynamic-blog-tag-area
  .software-development
  p {
  color: #027a48;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .saas {
  width: 70px;
  background: #c010481f;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .saas p {
  color: #c01048;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .tools {
  width: 70px;
  background: #c1157421;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .tools p {
  color: #c11574;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .podcasts {
  width: 80px;
  background: #6941c61c;
  cursor: pointer;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .podcasts p {
  color: #6941c6;
}
.all-blog-container
  .single-dynamic-blog
  .dynamic-blog-tag-area
  .customer-success {
  width: 150px;
  background: #363f722c;
  cursor: pointer;
}
.all-blog-container
  .single-dynamic-blog
  .dynamic-blog-tag-area
  .customer-success
  p {
  color: #363f72;
}
.all-blog-container .single-dynamic-blog .dynamic-blog-tag-area .presentation {
  width: 100px;
  background: #027a4813;
  cursor: pointer;
}
.all-blog-container
  .single-dynamic-blog
  .dynamic-blog-tag-area
  .presentation
  p {
  color: #027a48;
}
.pagination-buttons-area {
  display: flex;
  justify-content: space-between;
}
.index-button-area {
  display: flex;
  gap: 25px;
}
.pagination-buttons-area button {
  border: none;
  background-color: var(--white-fff-color);
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #667085;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagination-buttons-area button:hover {
  background: #f9f5ff;
  color: #7f56d9;
}

/* all blog pagination area  end*/

/* about us page start */

/* about us page start */

.our-values-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.our-values-area .our-values-header h1 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 219%;
  text-align: center;
}
.our-values-area .our-value-card-area {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}
.our-values-area .our-value-card-area .our-value-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.our-values-area .our-value-card-area .our-value-card .our-value-card-header {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}
.our-values-area .our-value-card-area .our-value-card .our-value-card-details {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}
.our-values-area
  .our-value-card-area
  .our-value-card:nth-child(1)
  .our-value-card-details {
  margin-top: -30px;
}
.our-values-area
  .our-value-card-area
  .our-value-card
  .our-value-card-img
  embed {
  border-radius: 20px;
}
.our-members-area {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 50px 0px;
}

.our-members-area .our-members-header-area {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 219%;
  text-align: center;
}
.our-members-area .our-member-para-area {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  width: 55%;
}
.our-members-area .member-headshot-with-details-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
  gap: 80px 275px;
}
.our-members-area .member-headshot-with-details-area .member-headshot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.our-members-area
  .member-headshot-with-details-area
  .member-headshot
  .member-name {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 23px;
  line-height: 153%;
  text-align: center;
}
.our-members-area
  .member-headshot-with-details-area
  .member-headshot
  .member-position {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 173%;
  text-align: center;
}
/* achivement card area start */

.achievement-card-area {
  background-color: var(--blue-color);
  border-radius: 24px;
  padding: 60px;
  margin-bottom: 80px;
}
.achivement-card-heading h1 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 260%;
  color: var(--white-fff-color);
}
.achivement-counter-with-details-area {
  display: flex;
  justify-content: space-around;
}
.achivement-counter-with-details-area .achivement-segment {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.achivement-counter-with-details-area .achivement-segment .achivement-info p {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 297%;
  color: var(--white-fff-color);
}
.achivement-counter-with-details-area
  .achivement-segment
  .achivement-details
  p {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 221%;
  color: var(--white-fff-color);
}

.chapter-header-and-button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.chapter-header-and-button-area .chapter-header h3 {
  width: 90%;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 131%;
}

.chapter-header-and-button-area {
  position: relative;
}
.chapter-header-and-button-area::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 160%;
  border: 1px solid #e4e4e7;
}

/* contact us page */
/* contact us page */

.contact-page-form .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact-page-form .contact-form .contact-form-header h1 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  text-align: center;
}
.contact-page-form .contact-form .contact-form-details p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #667085;
  margin-bottom: 30px;
}
.contact-page-form .contact-form .contact-form-area .contact-page-contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-page-contact-form .full-name-area {
  display: flex;
  gap: 32px;
}
.first-name-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.last-name-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  .email-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  .phone-number-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  .contact-message-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
}
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  .privacy-policy-checkbox-area {
  width: 100%;
  padding: 5px;
}
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  .form-submit-button-area {
  width: 100%;
  padding: 5px;
}

.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  input,
.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  textarea {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  padding: 12px 16px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.contact-page-form
  .contact-form
  .contact-form-area
  .contact-page-contact-form
  label {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #000;
}
